html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'serif';
    color: #FFFFFF;
}

body { 
    text-align: center
}

header{
    display:  block;
    height: 130px;
    border: 4px dashed #fff;
    margin-left: auto;
    margin-right: auto;
}

.header_solo{
    width: 100%;
    height: 130px;
    padding: 0 0 0 0;
    max-width:  960px;
    margin: 0 auto 0 auto;
}

.text_header{
    font-family: 'Arial', sans-serif;
    color:white;
    font-size: 350%;
}

#logo{
    width: 100px;
    height: 100px;
    background: url(2.gif);
    float: left;
}

#name {
    padding:  0 0 0 0;
    float:  left;
}

#name h1 {
    height:  100%;
    line-height: 60px;
    margin-top: 25px;
}

table{
    text-align: center;
    display: inline-block;
}

footer{
    margin-top: 50px;
    border: 2px dashed #fff;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.menu{
    margin-top: 2em;
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu li:after {
    color: lightblue;
    display: inline-block;
    vertical-align:top;
}

.menu a {
    text-decoration: none;
    font-family: Arial,sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu a, .menu a:visited {
    color: white;
}

.menu a.current, .menu a:hover{
    color: white;
}

.menu a:before,.menu a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: white;
    transition: .8s;
}

.menu a:hover:before, .menu .current:before {
    left: 0;
}

.menu a:hover:after, .menu .current:after {
    right: 0;
}
